{
  "preview": {
    "enabled": true
  },
  "tracking": {
    "camera_id": 0,
    "fps": 30,
    "width": 1080,
    "height": 1920,
    "radius": 500,
    "disabled_radius": 10,
    "center": {
      "x": 540,
      "y": 540
    },
    "window_name": "Camera",
    "ball": {
      "hsv_min": [80, 40, 40],
      "hsv_max": [90, 255, 255]
    }
  },
  "serial": {
    "enabled": true,
    "device": "/dev/ttyACM0",
    "rate": 115200
  },
  "gpio": {
    "enabled": true,
    "buzzer": {
        "pin": 23
    },
    "buttons": [11, 9, 10]
  }
}
